@import "./base.css";

@font-face {
  font-family: 'Shantell Sans';
  src: url('./fonts/Shantell_Sans-Informal_Regular.woff2') format('woff2');
}

:root {
  --text: var(--slate-100);
  --handwritten: "Shantell Sans";

  color: var(--text);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2vmin;
}

body, html {
  user-select: none;
  touch-action: none;
  background-color: var(--slate-700);
}